
<!-- <document-history></document-history> -->
<!-- <div document-history></div> -->
<!-- <div class="document-history"></div> -->
<!-- document-history -->
<div ng-include="'views/header.html'"></div>
<div ng-controller="homeController">
    Hai this is home page {{name}}
    {{price|agePlus}}
    <div ng-bind="name"></div>
    <div ng-class="{'active':showClass}">djfbjsdbfjksfnsdfnkj</div>
    <div ng-style="styleProp">djfnmndmnfdngjnfm,dng</div>
    <div ng-if="showDiv">
        Test content for if
    </div>
    <div ng-show="showDiv">
        Test content for show
    </div>
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tbody>
            <tr ng-repeat="stu in students|filter:{age:''}|limitTo:5">
                <td>{{stu.name|toUppercase}}</td>
                <td>{{stu.age|agePlus}}</td>
            </tr>
        </tbody>
    </table>
</div>